@charset "UTF-8";

button {
    background-color: #fdd;
    color: black;
    border: none;
    padding: 30px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 0em 0;
    font-size: 1em;
    cursor: pointer;
}

.button:hover {
    transform: translate(120px,120px);
    transition: all 1.5s ease-in-out;
}